{% set classes = [
    'card-text-image',
    variant ? 'card-text-image--' ~ variant,
    'row',
    'align-items-center',
    variant == 'reversed' ? 'flex-row-reverse' : '',
    'my-5'
] %}

<div{{ attributes.addClass(classes) }}>
    <div class="col-md-6">
        <h1>{{ title }}</h1>
        <a href="{{ link_uri }}" class="btn btn-primary">{{ link_text }}</a>
    </div>
    <div class="col-md-6">
        <img src="{{ image_url }}" class="img-fluid" />
    </div>
</div>
