{% set classes = [
    'card-text-image',
    variant ? 'card-text-image--' ~ variant,
    'row',
    'align-items-center',
    variant == 'reversed' ? 'flex-row-reverse' : '',
    'my-5'
] %}

<div{{ attributes.addClass(classes) }}>
    <div class="col-md-6">
        <h1>{{ title }}</h1>

        {% if text %}
            <div class="mb-3">{{ text }}</div>
        {% endif %}

        {{ pattern('button', {
            title: link_text,
            url: link_uri
        }, 'primary') }}
    </div>
    <div class="col-md-6">
        <img src="{{ image_url }}" class="img-fluid" />
    </div>
</div>
